/*
* Base Styles
* ========================================================================== */
.center-wrapper {
  max-width: $break-point;
  margin: 0 auto;
}

.hidden {
  display: none;
}

body {
  font: normal 17px/1.5 "PT Serif", "Helvetica Neue", "Helvetica", Arial,
    sans-serif;
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  color: #222;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

article p {
  margin-bottom: 15px;
  text-align: justify;
  text-indent: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  a:link,
  a:hover,
  a:focus,
  a:visited {
    color: #333;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.8em;
  margin-top: 0;
}
h6 {
  font-size: 0.6em;
}

.heading {
  font-size: 2.3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0.67em 0;
  a:link,
  a:hover,
  a:focus,
  a:visited {
    color: #fff;
  }
}

input[type="submit"],
button {
  border: 0;
  outline: 0;
}

textarea {
  resize: vertical;
}

/* hide text within the placeholder */
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}

/* box-sizing model */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
* Code Style
* ========================================================================== */
pre {
  line-height: 1.5;
  border: 1px solid #ddd;
  padding: 1em;
  background: #f9f8f6;
  margin: 2em 0;
  code {
    background-color: transparent;
    overflow: auto;
  }
}

code,
pre {
  font-family: "Menlo", "Andale Mono", "Consolas", monospace;
  font-size: 0.9em;
  line-height: 1.3;
  -webkit-font-smoothing: auto;
}

/*
* Table
* ========================================================================== */
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 2% 0;
  overflow-x: auto;
  display: block;
  margin: 0 auto;
}

table th {
  background: #f5f5f5;
  font-family: sans-serif;
}
th,
td {
  text-align: left;
  padding: 0.313em 0.625em;
  border: 1px solid #efefef;
}
table caption {
  padding: 0.3em;
  border: 1px solid #ddd;
}

/*
* Blockquote
* ========================================================================== */
blockquote {
  border: 1px solid #ddd;
  padding: 1em 1em 1em 2em;
  position: relative;
  margin-left: 0;
  p {
    margin-top: 0;
    margin-bottom: 1em;
  }
  &:before {
    content: '"';
    position: absolute;
    left: 0.3em;
    top: 0;
    font-size: 2em;
    line-height: 2em;
  }
}

/*
* Buttons
* ========================================================================== */
button,
input[type="submit"] {
  border: none;
}

article a.btn {
  color: #fff;
  text-decoration: none;
}

.btn {
  font-weight: normal;
  text-align: center;
  padding: 0.5em;
  color: #fff;
  display: inline-block;
}

.share-buttons {
  text-align: center;
  height: 3em;
  padding: 0.5em 0;
  color: #333;
  a:link,
  a:focus {
    color: #333;
  }
  font-size: 1.5em;
  [class^="icon"]:before {
    background: #fff;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ddd;
    transition: -webkit-transform 0.3s ease-in-out 0s;
    transition: transform 0.3s ease-in-out 0s;
  }
  [class^="icon"]:hover:before {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

/*
* JavaScript Classes
* ========================================================================== */
#shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1000;
}

#switcher {
  width: 10%;
  cursor: crosshair;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 400;
  display: none;
}

.transition-divs {
  transition: all 0.5s ease-in-out 0s;
}

.aside-left {
  left: -33% !important;
}

.centering {
  margin-left: calc(50% - (740px / 2)) !important;
  transition: all 0.5s ease-in-out 0s;
}

.hide {
  display: none !important;
}

.img-popup {
  width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: auto;
  z-index: 2000;
  box-shadow: 0 0 10px #000;
}

.blog-content a img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.transition {
  transition: all 1s linear;
}

.cover-animated{
  top:-200% !important;
}

.overlay-animated {
  opacity: 0 !important;
}

.row {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.webring {
    border: 1px solid crimson;
    font-weight: bold;
    font-size:1.2em;
}