/*
* Links
* ========================================================================== */
a {
  color: #333;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

/*
* Toggle Button
* ========================================================================== */
.nav-main a:not(.blog-logo) {
  display: none;
}

#menu-checkbox {
  display: none;
}

.toggle-button {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  left: 0;
  top: 0;
  color: #000;
  font-size: 18px;
}

#menu-checkbox:checked + .nav-main a:not(.blog-logo) {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

#menu-checkbox:checked + .nav-main {
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: 100%;
}

.toggle-button:after {
  content: attr(data-open);
  cursor: pointer;
  padding: 15px;
  font-size: 1.6rem;
  text-align: center;
}

#menu-checkbox:checked + .nav-main .toggle-button:after {
  content: attr(data-close);
}

@media screen and (min-width: $md-break-point) {
  .toggle-button {
    display: none;
  }
}

/*
* Header
* ========================================================================== */
.main-header {
  background-color: #fdfdfd;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #ddd;
}

/*
* Header Navigation
* ========================================================================== */
.nav-main {
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 1rem;
  text-transform: uppercase;
  a {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    line-height: 50px;
    margin: auto;
    color: #333;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      color: #766257;
    }
  }
}

/*
* Library
* ========================================================================== */
table.lib {
  border-collapse: separate;
  border-spacing: 0 3em;
  td,
  tr {
    border: none;
    width: 200px;
    height: 200px;
    padding: 0;
  }
}
.library-cover {
  width: 200px;
  height: 200px;
  padding: 0;
  .cover-parent {
    overflow: hidden;
    .cover-child {
      width: 200px;
      height: 200px;
      background-color: black;
      background-position: center;
      background-size: cover;
      transition: all 0.5s;
      overflow: hidden;
    }
  }
  p {
    margin-top: 0;
    text-align: center;
  }
}

.library-cover:hover .cover-child,
.library-cover:focus .cover-child {
  transform: scale(1.2);
}

/*
* Logotypes
* ========================================================================== */
.nav-main {
  .blog-logo {
    width: 100%;
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 0;
    text-align: center;
    font-weight: bold;
  }
}

/*
* Aside
* ========================================================================== */
.sidebar {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
  display: none;
  overflow: hidden;
}

.cover {
  transition: all 0.8s ease 0s;
  text-align: center;
  position: relative;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.75)) repeat
    scroll 0% 0% transparent;
}

.post-bg {
  min-width: 100%;
  height: 100%;
}

.cover-text {
  color: #fff;
  text-shadow: 2px 0 5px #333;
  position: absolute;
  bottom: 20%;
  width: 80%;
  left: 10%;
  .heading a {
    position: relative;
    margin-right: 5px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child):after {
      content: " , ";
      position: absolute;
      bottom: 0;
    }
  }
}

.sidebar,
.cover {
  width: 100%;
  height: 100vh;
}

/*
* Article
* ========================================================================== */
main {
  padding-top: 3em;
}

.index-page {
  position: relative;
  &:after {
    content: "***";
    position: absolute;
    margin-top: 1em;
    width: 100px;
    left: 50%;
  }
}

article {
  padding: 2em 1em;
  img,
  embed,
  object,
  video,
  iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  h1 {
    margin-top: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
    padding: 0.2em;
    background-color: #fff;
  }

  .poem p{
    text-indent: 0;
  }
}

.post-meta {
  padding-bottom: 0.5em;
  text-transform: uppercase;
  color: #b9b9b9;
  font-size: 70%;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  a,
  a:hover,
  a:focus,
  a:visited {
    color: #333;
  }

  .meta-black {
    color: #333;
  }

  
}

/*
* Post overlay
* ========================================================================== */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95); /* Black background with opacity */
  opacity: 1;
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  text-align: center;
  vertical-align: middle;
  color: white;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
    // position: absolute;
    // top: 40%;
    width: 100%;
    z-index: 1;
  }

  h2 {
    text-align: center;
    // position: absolute;
    font-size: medium;
    // top: 46%;
    width: 100%;
    z-index: 1;
  }

  .post-cover {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 80;
  }
}

/*
* Archive
* ========================================================================== */
.year {
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;
}

.year li {
  padding: 5px;
  padding: 8px 10px;
  border-bottom: 1px dotted #eae4da;
}

.year a {
  text-decoration: none;
}

.year a:hover {
  text-decoration: underline;
}

.date {
  text-align: right;
  float: right;
  color: #d4d4d4;
  display: none;
}

/*
* Footer
* ========================================================================== */
.blog-footer {
  height: 4em;
  margin: 5em auto 0;
  font-size: 70%;
  border-top: 1px solid #ddd;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
}

/*
* Next/Previous Posts
* ========================================================================== */

.link-to-post {
  width: 100%;
  display: block;
  margin: 10px auto;
  padding: 1em;
  text-decoration: none;
  outline: none;
  text-align: center;
  border: 1px solid #ddd;
  transition: border-color 0.5s ease-in 0s;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  &:hover {
    border-color: #0d243b;
  }

  &__prev,
  &__next {
    font-size: 0.8em;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
      -1px -1px 0 #000;
    margin: 10px 0;
  }

  &__title {
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
      -1px -1px 0 #000;
    margin-top: 10px;
    display: block;
  }
}

/*
* Index Pagination
* ========================================================================== */

.pagination a,
.pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {
  &:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}

.pagination {
  text-align: center;
}

/*
* Contact
* ========================================================================== */

.getMail {
  cursor: pointer;
  text-decoration: underline;
}

.form-box {
  width: 100%;
  margin: 0 10px;
}

.textbox,
.msgblock {
  width: 80%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid black;
  transition: 0.15s;
}

.textbox:focus-within,
.msgblock:focus-within {
  width: 90%;
  border-bottom: 3px solid green;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  float: left;
  margin: 0 10px;
  width: 90%;
}

.msgblock textarea {
  outline: none;
  border: none;
}

input[type="email"] {
  font-size: 18px;
}

input[type="submit"],
input[type="submit"]:active {
  outline: none;
  background: none;
  margin: 8px;
  padding: 8px 25px;
  border-radius: 30px;
  border: 3px solid black;
  transition: 0.1s;
}

input[type="submit"]:hover {
  background: black;
  color: white;
}
