---
bg: "library"
layout: default
crawlertitle: "Historiettes"
title: "Historiettes"
summary: "Version mobile du catalogue des historiettes"
permalink: /mobile/void
lang: fr
---

{%- assign histo = site.historiettes | reverse -%}
{% for post in histo %}
<article class="index-page">
  <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
  <p>{{ post.summary }}</p>
</article>
{% endfor %}