---
bg: "library"
layout: default
crawlertitle: "Les contes du Changement"
title: "Les contes du Changement"
summary: "Version mobile de la page d'accueil"
permalink: /mobile/contes
lang: fr
---

{%- assign contes = site.contes | reverse -%}
{% for post in contes %}
<article class="index-page">
  <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
  <p>{{ post.summary }}</p>
</article>
{% endfor %}