---
bg: "library"
layout: page
title: Séries disponibles
permalink: /shelf/
active: stories
lang: fr
---
<h1>Séries disponibles</h1>
{% assign filtered_pages = site.pages | where_exp: "page", "page.url contains '/volumes/' and page.autogen == nil" %}

<table class="lib">
    {%- tablerow my_page in filtered_pages cols:3 -%}
        {%- assign tag = my_page.autopage.display_name -%}
        {%- assign tagged_pages = site.contes | where_exp: "page", "page.tags contains tag" -%}
        {%- assign count = tagged_pages | size -%}
        {%- assign first_story = tagged_pages | first -%}

        <td>
            <article class="library-cover">
                <a href="{{ my_page.url | relative_url }}">
            <p class="ref" hidden> {{ first_story.ref }} </p>
                    <div class="cover-parent">
                        <div class="cover-child" title="Alt+clic pour accéder à l'image d'origine.&#10;{{ first_story.source }} "
                            style="background-image: url('{{ site.baseurl }}/{{ site.miniatures }}/{{ first_story.bg }}{{ site.image_ext }}')">
                        </div>
                    </div>
                    <p>{{ my_page.autopage.display_name | escape }} ({{ count }} conte{% if count > 1 %}s{% endif %})</p>
                </a>
            </article>
        </td>
    {%- endtablerow -%}
</table>

        <!-- <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.autopage.display_name | escape }}</a> (Il y a {{ count }} contes dans ce volume) -->