{% if page.bg %}
<aside class="sidebar blog-content {% if page.type == "index" %} aside-left {% endif %}" role="note"
  style="background-image: url('{{ site.images | relative_url }}/{{ page.bg }}{{ site.image_ext }}');">

  <!-- <img class="post-bg" src="{{ site.images | relative_url }}/{{ page.bg }}" title="{{page.source}}"> -->
  {% else %}
  <aside class="sidebar blog-content" role="note"
    style="background-image: url('{{ site.images | relative_url }}/bg.svg');">
    <!-- <img class="post-bg" src="{{ site.images | relative_url }}/bg.svg"> -->
    {% endif %}

    <div id="switcher"></div>
  </aside>