<footer class="blog-footer content-wrapper {{ include.additional_classes }}">
  <p>&copy; <span class="full-year"></span> {{ site_title }}</p>
  <div class="webring">
    <p>This site is proudly part of the <a href="https://webring.rumengol.net">Anvilite Webring</a>!</p>
    <div class="row">
        <p><a href="https://webring.rumengol.net/prev/Rumengol"><< Previous Site</a></p>
        <p><a href="https://webring.rumengol.net">List</a></p>
        <p><a href="https://webring.rumengol.net/random">Random</a></p>
        <p><a href="https://webring.rumengol.net/next/Rumengol">Next Site >></a></p>
    </div>
  </div>
  <p>
    {{ footer_copyright }}
  </p>
  <p>
    {{ footer_info }}
  </p>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>