<header class="main-header content-wrapper {% if page.type == "index" %} centering {% endif %}">

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">

    <a class="blog-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <!-- {% if page.lang == "fr" %}<a href="/historiettes">Historiettes</a>{% endif %} -->

    {%- assign pages = site.pages | reverse -%}
    {% for my_page in pages %}
      {% if my_page.active and (my_page.lang == page.lang or my_page.lang == lang) %}
        <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}

    <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☰" onclick></label>
  </nav>

</header>