{% if page.lang == "en" %}
    {% assign prev_shelf = "Previous shelf" %}
    {% assign first_shelf = "First shelf" %}
    {% assign next_shelf = "Next shelf" %}
    {% assign last_shelf = "Last shelf" %}
    {% assign footer_copyright = "Website made with <a href='https://jekyllrb.com/'>jekyll</a> using the <a href='https://github.com/redVi/voyager'>Voyager</a> theme by <a href='{{ site.baseurl }}/en/about/'>Rumengol</a>." %}
    {% assign footer_info = "The artworks that inspired the Tales of the Change belongs to their respective creators." %}
{% else %}
    {% assign site_title = "Contes du changement" %}
    {% assign prev_shelf = "Rayon précédent" %}
    {% assign first_shelf = "Premier rayon" %}
    {% assign next_shelf = "Rayon suivant" %}
    {% assign last_shelf = "Dernier rayon" %}
    {% assign footer_copyright = "Site créé avec <a href='https://jekyllrb.com/'>jekyll</a> à l'aide du thème <a href='https://github.com/redVi/voyager'>Voyager</a> par <a href='{{ site.baseurl }}/about/#le-conteur'>Rumengol</a>." %}
    {% assign footer_info = "Toutes les oeuvres dont sont tirés les Contes du Changement appartiennent à leurs créateurs respectifs." %}
{% endif %}