<figure class="image">
  <a href="{{ include.ref }}" target="blank">
    <img
      src="{{ site.images | relative_url }}/{{ include.url }}"
      alt="{{ include.description }}"
    />
    <figcaption>{{ include.description }}</figcaption>
  </a>
</figure>
