{% if paginator.total_pages > 1 %}
<div class="pagination content-wrapper centering">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; {{ prev_shelf }}</a>
    {% else %}
    <span>{{ first_shelf }}.</span>
    {% endif %}
    {% if paginator.page_trail %}
        {% if paginator.page_trail[0].num > 1 %}
            <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '/index.html', '/' }}">1</a>
            <span class="webjeda">...</span>
        {% endif %}
    {% for trail in paginator.page_trail %}
        {% if page.url == trail.path %}
        <span class="webjeda">{{ trail.num }}</span>
        {% else %}
        <a href="{{ trail.path | prepend: site.baseurl | replace: '/index.html', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
        {% endif %}
    {% endfor %}
        {% if paginator.page_trail[-1].num < paginator.total_pages %}
            <span class="webjeda">...</span>
            <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '/index.html', '/' }}">{{ paginator.total_pages }}</a>
        {% endif %}
    {% endif %}

    <!-- {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
    <a href="/">{{ page }}</a>
    {% else %}
    <a
        href="{{ paginator[page].page_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %} -->

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ next_shelf }} &raquo;</a>
    {% else %}
    <span>{{ last_shelf }}.</span>
    {% endif %}
</div>
{% endif %}