---
layout: compress
---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">

  {% include head.html %}

  {% include i18n.html %}
  <body>
    <div id="shadow"></div>

      {% include header.html %}
      {% include aside.html %}

    <main class="content-wrapper blog-content">
      {{ content }}
    </main>

    {% include footer.html %}

  </body>
</html>
