---
layout: compress
---

<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">
{% include head.html %}
{% include i18n.html %}

{% include aside.html %}

<body>
    <div id="shadow"></div>

    {% include header.html %}

    <main class="content-wrapper blog-content centering">

        <table class="lib">
            {%- assign contes = paginator.posts -%}
            {%- tablerow post in contes cols:3 -%}
            <td>
                <article class="library-cover">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                <p class="ref" hidden> {{ post.ref }} </p>
                        <div class="cover-parent">
                            <div class="cover-child" title="Alt+clic pour accéder à l'image d'origine.&#10;{{ post.source }} "
                                style="background-image: url('{{ site.baseurl }}/{{ site.miniatures }}/{{ post.bg }}{{ site.image_ext }}')">
                            </div>
                        </div>
                        <p>{{ post.title }}</p>
                    </a>
                </article>
            </td>
            {%- endtablerow -%}
        </table>
    </main>

    {% include navigation_trail.html %}

    {% include footer.html additional_classes="centering" %}
    <script>

        if (screen.width <= 700) {
            document.location = "{{ site.baseurl }}/mobile/{{ page.genre }}";
        }
    </script>
</body>

</html>