---
layout: default
---
<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>
  <h5 class="post-subtitle">Inspiration : <a href="{{ page.ref }}" target="blank">{{ page.source }}</a></h2>

    <p class="post-meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d-%m-%Y" }}</time>

      {% if page.author %}
      &nbsp;\\\\\\&nbsp;
      <span>{{ page.author }}</span>
      {% endif %}

      {% unless page.form == "poem" %}
      {%- assign wordcount = page.content | number_of_words -%}
      &nbsp;\\\\\\&nbsp; {{ wordcount | divided_by: 249 }} minutes de lecture.
      {% endunless %}
    </p>

    <br/>

    {% assign tagcount = page.tags | size %}
    {% if tagcount > 0 %}
        <p class="post-meta">
        {% if tagcount == 1 %}
        {% assign tag_url = page.tags | first | downcase | replace: ' ', '-' | replace: "'", '-' %}
        <a href="{{ site.baseurl }}volumes/{{ tag_url }}">Lire les autres contes de cette histoire</a>
        {% else if tagcount > 1 %}Ce conte fait partie des histoires suivantes :
        {% for tag in page.tags %}
            {% assign tag_url = tag | downcase | replace: ' ', '-' | replace: "'", '-' %}
            <a href="{{ site.baseurl }}volumes/{{ tag_url }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless -%}
        {% endfor %}
        {% endif %}
        </p>
    {% endif %}

    <div class="post-content {% if page.form == 'poem'%}poem{% endif %}">

      {{ content }}

      <img style="display: none;" class="cover-hidden" src="{{ site.images | relative_url }}/{{ page.bg }}{{ site.image_ext }}">

        {%- if page.notes -%}
            <br>
            <br>
            <hr>
            <br>
            <i>Notes de l'auteur : {{ page.notes }}</i>
        {%- endif -%}

      {%- if page.type == "Conte" -%}
        {%- assign posts = site.contes -%}
        {%- assign suffix = "" -%}
      {%- elsif page.type == "Historiette" -%}
        {%- assign posts = site.historiettes -%}
        {%- assign suffix = "e" -%}
      {%- endif -%}

      {% for post in posts %}
      {% if page.title == post.title %}
      {% assign currIndex = forloop.index0 %}
      {% assign prevIndex = currIndex | minus: 1 %}
      {% assign nextIndex = currIndex | plus: 1 %}
      {% assign articleIndexLength = forloop.length | minus: 1 %}


      <div class="post-links">
        {% if currIndex < articleIndexLength  %}
        <a class="link-to-post" href="{{ posts[nextIndex].url | relative_url }}"
          style="background-image: url('{{ site.baseurl }}/{{ site.images }}/{{ posts[nextIndex].bg }}{{ site.image_ext }}')">
          <span class="link-to-post__next">&#10535; &nbsp;{{ page.type }} suivant{{ suffix }}</span>
          <span class="link-to-post__title">{{ posts[nextIndex].title }}</span>
        </a>
        {% if currIndex != 0 %}
        <a class="link-to-post" href="{{ posts[prevIndex].url | relative_url }}"
          style="background-image: url('{{ site.baseurl }}/{{ site.images }}/{{ posts[prevIndex].bg }}{{ site.image_ext }}')">
          <span class="link-to-post__prev">&#10535; &nbsp;{{ page.type }} précédent{{ suffix }}</span>
          <span class="link-to-post__title">{{ posts[prevIndex].title }}</span>
        </a>
        {% endif %}

        {% endif %}
        {% if currIndex == articleIndexLength %}
        <a class="link-to-post" href="{{ posts[prevIndex].url | relative_url }}"
          style="background-image: url('{{ site.baseurl }}/{{ site.images }}/{{ posts[prevIndex].bg }}{{ site.image_ext }}')">
          <span class="link-to-post__prev">&#10535; &nbsp;{{ page.type }} précédent{{ suffix }}</span>
          <span class="link-to-post__title">{{ posts[prevIndex].title }}</span>
        </a>
        {% endif %}

      </div>
      {% endif %}
      {% endfor %}
    </div>

    {% include comments.html %}

</article>


<div id="overlay">
  <img src="{{ site.baseurl }}/{{ site.images }}/{{ page.bg }}{{ site.image_ext }}" class="post-cover">
  <h1>{{ page.title }}</h1>
  <h2>Écrit par {{ page.author }}</h2>
</div>

<script src="{{ site.baseurl }}/assets/js/overlay.js"></script>
<script>
  var obj = {
    url: "{{ site.images | relative_url }}/{{ page.bg }}{{ site.image_ext }}",
    ref: "{{ page.ref }}",
    source: "{{ page.source }}"
  }
</script>