---
layout: compress
autopages:
    permalink: /volumes/:tag
pagination:
    enabled: true
    collection: all
    debug: false
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}
  {% assign firstpost = paginator.posts | first %}
  {% assign lang = firstpost.lang %}
  <aside class="sidebar blog-content" role="note"
      style="background-image: url('{{ site.images | relative_url }}/{% if firstpost.bg %}{{ firstpost.bg }}{{ site.image_ext }}{% else %}bg.svg{% endif %}');">

          <div id="switcher"></div>
  </aside>

  <body>
    <div id="shadow"></div>

    {% include header.html %}


    <main class="content-wrapper blog-content">

        <h1 class="page-heading"><b>{% if page.autopages %}{{page.autopages.display_name}}{% endif %}</b></h1>
        <table class="lib">
            {%- assign contes = paginator.posts -%}
            {%- tablerow post in contes cols:3 -%}
            <td>
                <article class="library-cover">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                <p class="ref" hidden> {{ post.ref }} </p>
                        <div class="cover-parent">
                            <div class="cover-child" title="Alt+clic pour accéder à l'image d'origine.&#10;{{ post.source }} "
                                style="background-image: url('{{ site.baseurl }}/{{ site.miniatures }}/{{ post.bg }}{{ site.image_ext }}')">
                            </div>
                        </div>
                        <p>{{ post.title }}</p>
                    </a>
                </article>
            </td>
            {%- endtablerow -%}
        </table>
        
        
        {% if paginator.total_pages > 1 %}
        <div class="pagination">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Rayon
                précédent</a>
            {% else %}
            <span>Premier rayon.</span>
            {% endif %}
            {% if paginator.page_trail %}
                {% if paginator.page_trail[0].num > 1 %}
                    <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '/index.html', '/' }}">1</a>
                    <span class="webjeda">...</span>
                {% endif %}
                {% for trail in paginator.page_trail %}
                    {% if page.url == trail.path %}
                    <span class="webjeda">{{ trail.num }}</span>
                    {% else %}
                    <a href="{{ trail.path | prepend: site.baseurl | replace: '/index.html', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
                    {% endif %}
                {% endfor %}
                {% if paginator.page_trail[-1].num < paginator.total_pages %}
                    <span class="webjeda">...</span>
                    <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '/index.html', '/' }}">{{ paginator.total_pages }}</a>
                {% endif %}
            {% endif %}

            <!-- {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
            <span class="webjeda">{{ page }}</span>
            {% elsif page == 1 %}
            <a href="/">{{ page }}</a>
            {% else %}
            <a
                href="{{ paginator[page].page_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
            {% endfor %} -->

            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Rayon suivant &raquo;</a>
            {% else %}
            <span>Dernier rayon.</span>
            {% endif %}
        </div>
        {% endif %}

    </main>

    {% include footer.html additiona_classes="centering" %}

  </body>
</html>